.form-label {
  @include fontSize(16);
  margin-bottom: 8px;
}

.wrapper-input {
  margin-bottom: 30px;
}

.wrapper-input:not(.input-color):not(.is-textarea) .form-input {
  @include fontSize(16);
  color: $color-one;
  padding: 10px;
  border: 1px solid $color-one;
  border-radius: 5px;
  width: 100%;
}

.wrapper-input.is-textarea .form-input {
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}