.form-label {
  @include fontSize(16);
  margin-bottom: 8px;
}

.wrapper-input:not(.input-color):not(.is-textarea) .form-input {
  @include fontSize(16);
  color: $color-one;
  padding: 10px;
  border: 1px solid $color-one;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.wrapper-input.is-textarea .form-input {
  width: 400px;
  height: 200px;
}