.start-now {
  background-color: $color-one;
  padding: 80px 0;
  margin: 40px 0;

  @include mq(850) {
    padding: 50px 0;
  }


  .container {
    @include container();
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @include mq(850) {
      @include display-flex($f: column);
    }


    .container-texts {
      @include display-flex($f: column);
      gap: 30px;

      .text-start-now {
        color: $color-type;
        @include fontSize(20);

        @include mq(850) {
          @include fontSize(16);
        }
      }
    }


    .containet-button-start {
      background-color: rgba($color-two, .9);
      padding: 10px;
      border-radius: 10px;
      @include display-flex($f: column, $j: space-evenly);
      max-width: size(400);
      height: size(300);
      justify-self: flex-end;
      outline: 4px solid $color-one;
      outline-offset: -15px;
      width: 100%;

      .title {
        @include fontSize(30);
        text-align: center;
      }

      .button-start-now {
        background-color: $color-one;
        color: $color-type;
        @include fontSize(18);
        border: none;
        border-radius: 20px;
        padding: 14px 22px;
        @include display-flex();
        gap: 10px;

      }
    }
  }
}