.highlight-text-color {
  color: $color-two;
}

.button-form {
  border: 2px solid $color-white;
  background-color: $color-one;
  color: $color-white;
  padding: 5px 15px;
  min-height: 40px;
  @include display-flex();
  gap: 10px;
  width: 220px;
  margin: 30px 0;
  transition: .3s ease-in-out;
}

.button-form:not(:disabled):hover {
  cursor: pointer;
  border: 2px solid $color-one;
  background: $color-white;
  color: $color-one;
  box-shadow:
    -1px -1px 1px $color-white,
    1px 1px 1px $color-white;
}

.button-form:disabled {
  opacity: .5;
}

.button-form.animation:hover svg,
.button-form.animation:hover svg path {
  transition: .3s ease-in-out;
}

.button-form.animation:hover svg {
  transform: translateX(15px)
}

.button-form.animation:hover svg path {
  fill: $color-one;
}

.button-form.animation.back svg {
  transform: rotate(180deg);
}

.button-form.animation.back:hover svg {
  transform: rotate(180deg) translateX(15px);
}

.pg-text-16 {
  @include fontSize(16);
  margin-bottom: 20px;
}

.pg-text-12 {
  @include fontSize(12);
}

.title-text-20 {
  @include fontSize(20);
  font-weight: 700;
  margin-bottom: 20px;
}

.input-radio {
  @include display-flex($j: flex-start);
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}