.creation-form {
  .container {
    display: flex;
    flex-direction: column;
  }

  .form-label {
    @include fontSize(16);
    margin-bottom: 8px;
  }

  .form-input {
    @include fontSize(16);
    color: $color-one;
    padding: 10px;
    border: 1px solid $color-one;
    border-radius: 5px;
    width: 100%;
  }

  .grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;

    @include mq(750) {
      grid-template-columns: 1fr;
    }

    .column-full-width {
      grid-column: 1/-1;
    }
  }

  .buttons__double {
    @include display-flex($j: flex-start);
    gap: 20px;
  }
}