.container-double-title {
  position: relative;

  .double-title-text {
    @include fontSize(70);
    font-weight: 400;
    font-family: $type-second;
    position: relative;
    z-index: 1;
    color: $color-two;
    text-shadow:
      -1px -1px 0px rgba($color: $color-black, $alpha: .4),
      -1px 1px 0px rgba($color: $color-black, $alpha: .4),
      1px -1px 0px rgba($color: $color-black, $alpha: .4),
      1px 0px 0px rgba($color: $color-black, $alpha: .4);

    @include mq(1000) {
      @include fontSize(60);
    }

    @include mq(500) {
      @include fontSize(48);
    }
  }

  .double-title-text-second {
    position: absolute;
    @include fontSize(90);
    color: transparent;
    z-index: 0;
    font-family: $type-third;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba($color-white, 0.2);
    bottom: -8px;

    @include mq(1000) {
      @include fontSize(70);
    }

    @include mq(500) {
      @include fontSize(65);
    }
  }
}

.container-blue-box {
  background-color: $color-one;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba($color-white, 0.1);
  box-shadow: 5px 5px 10px rgba($color-black, 0.3);
  color: $color-type;
  @include fontSize(20);
  @include display-flex($f: column, $j: space-between, $a: baseline);
  gap: 15px;

  @include mq(850) {
    @include fontSize(16);
  }
}

.highlight-text-color {
  color: $color-two;
}

.button-form {
  border: 2px solid #ffffff;
  background-color: $color-one;
  color: #ffffff;
  padding: 5px 15px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 220px;
  margin: 30px 0;
  transition: .3s ease-in-out;
}

.button-form:not(:disabled):hover {
  cursor: pointer;
  border: 2px solid $color-one;
  background: #ffffff;
  color: $color-one;
  box-shadow:
    -1px -1px 1px #ffffff,
    1px 1px 1px #ffffff;
}

.button-form:disabled {
  opacity: .5;
}

.button-form:hover svg,
.button-form:hover svg path {
  transition: .3s ease-in-out;
}

.button-form:hover svg {
  transform: translateX(15px)
}

.button-form:hover svg path {
  fill: $color-one;
}

.button-form.back svg {
  transform: rotate(180deg);
}

.button-form.back:hover svg {
  transform: rotate(180deg) translateX(15px)
}