.mensage-error {
  font-size: size(12);
  margin-top: size(5);
}

.container-double-title {
  position: relative;
  margin: 0 0 -12px 80px;

  @include mq(500) {
    margin: 0 0 -10px 40px;
  }

  @include mq(400) {
    margin: 0 0 -10px 5px;
  }

  .double-title-text {
    @include fontSize(70);
    font-weight: 400;
    font-family: $type-second;
    position: relative;
    z-index: 1;
    color: $color-two;
    text-shadow:
      -1px -1px 0px rgba($color: $color-black, $alpha: .4),
      -1px 1px 0px rgba($color: $color-black, $alpha: .4),
      1px -1px 0px rgba($color: $color-black, $alpha: .4),
      1px 0px 0px rgba($color: $color-black, $alpha: .4);

    @include mq(1000) {
      @include fontSize(60);
    }

    @include mq(500) {
      @include fontSize(48);
    }
  }
  
  .double-title-text-second {
    position: absolute;
    @include fontSize(90);
    color: transparent;
    z-index: 0;
    font-family: $type-third;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba($color-white, 0.2);
    bottom: -8px;

    @include mq(1000) {
      @include fontSize(70);
    }

    @include mq(500) {
      @include fontSize(65);
    }
  }
  

}


.container-blue-box {
  background-color: $color-one;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba($color-white, 0.1);
  box-shadow: 5px 5px 10px rgba($color-black, 0.3);
  color: $color-type;
  @include fontSize(20);
  @include display-flex($f: column, $j: space-between, $a: baseline);
  gap: 15px;

  @include mq(850) {
    @include fontSize(16);
  }
  
}

.highlight-text-color {
  color: $color-two;
}